<ion-header>
  <app-header-modal titulo="Planos Premium" ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>
</ion-header>

<ion-content *ngIf="!usuarioPremium">
  <div id="divCabecalho">
    <h2>Seja um usuário premium</h2>
    <ion-icon name="ribbon-outline"></ion-icon>
    <h4>Tenha acesso a recursos exclusivos por um preço justo!</h4>
  </div>

  <div id="divCorpo">
    <ul>
      <li>Elimine os anúncios</li>
      <li>Realize seu Backup online</li>
      <li>Acesso ao suporte dedicado</li>
    </ul>
  </div>
</ion-content>

<ion-content *ngIf="usuarioPremium">
  <div id="divCabecalho">
    <h2>Você é um usuário premium</h2>
    <h4>Sua assinatura vence em: {{ comprasService.vencimentoPremium | date:"dd/MM/yyyy - HH:mm" }}</h4>    
  </div>
</ion-content>

<ion-footer>
  <h4>Escolha seu plano!</h4>
  <ion-button (click)="cancelarPacote()">Cancelar</ion-button>
  <ion-button (click)="comprarProduto('pacote_anual')">Assinar por 1 ano</ion-button>
  <ion-button (click)="comprarProduto('pacote_mensal')">Assinar por 1 mês</ion-button>
</ion-footer>
