<ion-header>
  <app-header-modal *ngIf="entradaBloqueada" titulo="Bloqueio" ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>  
</ion-header>

<ion-content *ngIf="!usuarioPremium">

  <div *ngIf="entradaBloqueada" class="divInformativo fundoPerigo">
    <h3 class="negrito">Você precisa de internet para utilizar a versão gratuita.</h3>
  </div>

  <div class="divInformativo fundoPrimario">
    <h2 class="negrito ion-text-uppercase">Seja um usuário premium</h2>
    <ion-icon class="fontCorSucesso" name="ribbon-outline"></ion-icon>
    <h3 class="negrito">Pagamento único!</h3>
    <h4 *ngIf="comprasService.vencimentoPremium != null">Seu plano venceu em: {{ comprasService.vencimentoPremium | date:"dd/MM/yyyy" }}</h4>
  </div>

  <div class="divItens">
    <p class="fontCorPrimaria"><ion-icon name="mic-off-outline"></ion-icon>Utilize o aplicativo sem anúncios</p>
    <p class="fontCorPrimaria"><ion-icon name="cloud-offline-outline"></ion-icon>Funcionamento 100% offline</p>
    <!-- <p class="fontCorPrimaria"><ion-icon name="cloud-upload-outline"></ion-icon>Garanta armazenamento de backup nas nuvens</p> -->
  </div>

  <div class="divInformativo fundoPrimario">
    <h3 class="negrito ion-text-uppercase">Tudo por um preço justo</h3>
    <h4 class="negrito ion-text-uppercase">Licença vitalícia</h4>
  </div>

  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h3 class="negrito ion-text-uppercase fontCorPrimaria">Valor único</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 class="fontCorPrimaria">{{ 89.90 | decimalPipe:"R$ " }}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="usuarioPremium">
  <div class="divInformativo">
    <h2 class="negrito ion-text-uppercase fontCorPrimaria">Você é um usuário premium</h2>
    <ion-icon class="fontCorSucesso" name="ribbon-outline"></ion-icon>
    <h4 class="fontCorPrimaria">Sua assinatura vence em: {{ comprasService.vencimentoPremium | date:"dd/MM/yyyy" }}</h4>
  </div>
</ion-content>

<ion-footer>
  <ion-grid class="ion-no-margin ion-no-padding" *ngIf="!usuarioPremium">
    <ion-row>
      <ion-col size-xs="6"><ion-button expand="block" (click)="comprarProduto('pacote_vitalicio')" color="success">Comprar</ion-button></ion-col>
      <ion-col size-xs="6"><ion-button expand="block" (click)="cancelar()" color="danger">Depois</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  <ion-button *ngIf="usuarioPremium" expand="block" (click)="cancelar()" color="success">Ok</ion-button>
</ion-footer>
