<ion-header>
  <app-header-modal titulo="Planos Premium" ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>
</ion-header>

<ion-content *ngIf="!usuarioPremium">
  <div class="divInformativo fundoPrimario">
    <h2 class="negrito ion-text-uppercase">Seja um usuário premium</h2>
    <ion-icon class="fontCorSucesso" name="ribbon-outline"></ion-icon>
    <h3 class="negrito">Receba benefícios exclusivos</h3>
    <h4 *ngIf="comprasService.vencimentoPremium != null">Seu plano venceu em: {{ comprasService.vencimentoPremium | date:"dd/MM/yyyy" }}</h4>
  </div>

  <div class="divItens">
    <p class="fontCorPrimaria"><ion-icon name="mic-off-outline"></ion-icon>Utilize o aplicativo sem anúncios</p>
    <p class="fontCorPrimaria"><ion-icon name="call-outline"></ion-icon>Acesse o suporte prioritário</p>
    <p class="fontCorPrimaria"><ion-icon name="cloud-upload-outline"></ion-icon>Garanta o armazenamento de backup nas nuvens</p>
  </div>

  <div class="divInformativo fundoPrimario">
    <h3 class="negrito ion-text-uppercase">Tudo por um preço justo</h3>
    <h4 class="negrito ion-text-uppercase">Sem fidelidade</h4>
  </div>

  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h3 class="negrito ion-text-uppercase fontCorPrimaria">Valor mensal</h3>
      </ion-col>
      <ion-col>
        <h3 class="negrito ion-text-uppercase fontCorPrimaria">Valor anual</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 class="fontCorPrimaria">{{ comprasService.planoMensal.priceMicros / 1000000 | decimalPipe:"R$ " }}</h3>
      </ion-col>
      <ion-col>
        <h3 class="fontCorPrimaria">{{ comprasService.planoAnual.priceMicros / 1000000 | decimalPipe:"R$ " }}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <h4 class="fontCorSucesso">Economize {{ economia }}%</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="usuarioPremium">
  <div class="divInformativo">
    <h2 class="negrito ion-text-uppercase fontCorPrimaria">Você é um usuário premium</h2>
    <ion-icon class="fontCorSucesso" name="ribbon-outline"></ion-icon>
    <h4 class="fontCorPrimaria">Sua assinatura vence em: {{ comprasService.vencimentoPremium | date:"dd/MM/yyyy" }}</h4>
  </div>
</ion-content>

<ion-footer>
  <ion-grid class="ion-no-margin ion-no-padding" *ngIf="!usuarioPremium">
    <ion-row>
      <ion-col size-xs="6"><ion-button expand="block" (click)="comprarProduto('pacote_mensal')" color="success">Assinar por 1 mês</ion-button></ion-col>
      <ion-col size-xs="6"><ion-button expand="block" (click)="comprarProduto('pacote_anual')" color="success">Assinar por 1 ano</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  <!--<ion-button *ngIf="usuarioPremium" expand="block" (click)="cancelarPacote()" color="success">Cancelar</ion-button>-->
</ion-footer>
