<ion-header>
  <app-header titulo="Configurações" ocultarRetorno="true" iconeBotaoAdicional="chevron-back" (onClickBotaoAdicional)="fecharItem()"></app-header>
</ion-header>

<ion-content *ngIf="configuracoes != null">
  <div *ngIf="pagina == null">
    <ion-list [@listAnimation]="5">
      <ion-item button (click)="abrirPagina('empresa')">
        <ion-icon name="business"></ion-icon>
        Empresa
      </ion-item>
      <ion-item button (click)="abrirPagina('patio')">
        <ion-icon name="car-sport"></ion-icon>
        Patio
      </ion-item>
      <ion-item button (click)="abrirPagina('estacionamento')">
        <ion-icon name="repeat"></ion-icon>
        Estacionamento
      </ion-item>
      <ion-item button (click)="abrirPagina('recibo')">
        <ion-icon name="receipt"></ion-icon>
        Recibo
      </ion-item>
      <ion-item button (click)="abrirPagina('seguranca')">
        <ion-icon name="key"></ion-icon>
        Segurança
      </ion-item>
      <ion-item button (click)="abrirPagina('mensagens')">
        <ion-icon name="logo-whatsapp"></ion-icon>
        Whatsapp
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="pagina == 'empresa'">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight">
          <ion-icon class="iconeSubTitulo" name="business"></ion-icon>
          Dados da empresa
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-list *ngIf="configuracoes != null">
            <ion-item>
              <ion-label position="floating">Documento (CNPJ / CPF)</ion-label>
              <ion-input autocorrect="off" type="tel" [ngModel]="configuracoes.Estabelecimento.Documento | documentoPipe" (ionInput)="configuracoes.Estabelecimento.Documento = utils.somenteNumeros($event.target.value)"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nome do estabelecimento</ion-label>
              <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Estabelecimento.Nome"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Endereco</ion-label>
              <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Estabelecimento.Endereco"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Telefone</ion-label>
              <ion-input autocorrect="off" type="tel" maxlength="15" [ngModel]="configuracoes.Estabelecimento.Telefone | telefonePipe" (ionInput)="configuracoes.Estabelecimento.Telefone = utils.somenteNumeros($event.target.value)"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="pagina == 'patio'">
    <ion-grid *ngIf="configuracoes != null">
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight">
          <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
          Configurações do pátio
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-list>
            <ion-item>
              <ion-icon class="iconeAjuda" name="information-circle-outline" (click)="utils.alerta('Total de vagas', 'Informe a quantidade de vagas disponíveis no pátio. Caso não queira limitar a quantidade, informe 0. Informar a quantidade de vagas não vai limitar a entrada de veículos no seu estabelecimento automaticamente.')"></ion-icon>
              <ion-label position="floating">Total de vagas</ion-label>
              <ion-input autocorrect="off" type="number" [(ngModel)]="configuracoes.Patio.QuantidadeVagas"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Bloquear entrada em lotação', 'Ative essa opção para bloquear a entrada de novos veículos quando não houver vaga no pátio.')"></ion-icon>
              <ion-label>Bloquear entrada em lotação</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Patio.LimitarLotacao"></ion-toggle>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight">
          <ion-icon class="iconeSubTitulo" name="settings"></ion-icon>
          Campos opcionais
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Responsável pelo veículo', 'Ative essa opção para controlar o responsável pelo atendimento do veículo no pátio.')"></ion-icon>
              <ion-label>Responsável pelo veículo</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Patio.CampoResponsavel"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Localização no pátio', 'Ative essa opção para informar a posição do veículo no pátio.')"></ion-icon>
              <ion-label>Localização no pátio</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Patio.CampoLocalizacao"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Dados do cliente', 'Ative essa opção para informar as informações de nome e contato do cliente.')"></ion-icon>
              <ion-label>Dados do cliente</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Patio.CampoCliente"></ion-toggle>
            </ion-item>
          </ion-list>
          <ion-item>
            <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Observações do veículo', 'Ative essa opção para adicionar observações do veículo ou do cliente no atendimento.')"></ion-icon>
            <ion-label>Observações do veículo</ion-label>
            <ion-toggle color="primary" [(ngModel)]="configuracoes.Patio.CampoObservacao"></ion-toggle>
          </ion-item>
      </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="pagina == 'seguranca'">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight">
          <ion-icon class="iconeSubTitulo" name="person-circle"></ion-icon>
          Dados do administrador
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Seguranca.EmailAdministrador"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="success" expand="block" (click)="abrirSenhaAdministrador()">
            <ion-icon slot="start" name="lock-closed"></ion-icon>
            Redefinir senha
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight">
          <ion-icon class="iconeSubTitulo" name="lock-closed"></ion-icon>
          Exigir senha nos seguinte itens
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-list *ngIf="configuracoes != null">
            <ion-item>
              <ion-label>Acessar cadastro de serviços</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Seguranca.ExigirSenhaCadastroServicos"></ion-toggle>
            </ion-item>            
            <ion-item>
              <ion-label>Excluir veículo do pátio</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Seguranca.ExigirSenhaExcluirVeiculoPatio"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Editar serviço do veículo</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Seguranca.ExigirSenhaEditarServicosVeiculo"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Postergar pagamento</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Seguranca.ExigirSenhaPagarDepois"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Estornar movimento do caixa</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Seguranca.ExigirSenhaEstornarMovimento"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Alterar responsável do veículo</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Seguranca.ExigirSenhaAlterarResponsavel"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Conceder desconto</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Seguranca.ExigirSenhaConcederDesconto"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Acessar relatórios gerenciais</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Seguranca.ExigirSenhaRelatoriosGerenciais"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Cadastro de mensalistas</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Seguranca.ExigirSenhaCadastroMensalistas"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Cadastro de funcionários</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Seguranca.ExigirSenhaCadastroFuncionarios"></ion-toggle>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="pagina == 'estacionamento'">
    <ion-item>
      <ion-icon (click)="utils.alerta('Controlar estacionamento', 'Ative essa opção se quiser controlar cobrança de estacionamento por tempo dos veículos. Configure os formatos de cobrança disponíveis.')" class="iconeAjudaToggle" name="information-circle-outline"></ion-icon>
      <ion-label>Controlar estacionamento</ion-label>
      <ion-toggle color="primary" [(ngModel)]="configuracoes.Estacionamento.UtilizarEstacionamento"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon (click)="utils.alerta('Inclusão automática', 'Ative essa opção se quiser que o sistema inclua automaticamente o serviço de cobrança de estacionamento ao registrar a entrada de um veículo. Caso essa opção seja desabilitada o sistema permitirá a inclusão manualmente para cada veículo.')" class="iconeAjudaToggle" name="information-circle-outline"></ion-icon>
      <ion-label>Inclusão automática</ion-label>
      <ion-toggle color="primary" [(ngModel)]="configuracoes.Estacionamento.IncluirServicoEstacionamento"></ion-toggle>
    </ion-item>

    <ion-grid *ngIf="configuracoes.Estacionamento.UtilizarEstacionamento">
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight ion-text-center">
          Configuração de tabela de preços
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-icon class="iconeAjuda" name="information-circle-outline" (click)="utils.alerta('Minutos de carência', 'Indica os minutos onde a permanência não será cobrada. Após esse período o sistema fará a cobrança computando o tempo integral, inclusive os minutos de carência. Se quiser cobrar a partir da entrada do veículo informe 0 minutos de carência.')"></ion-icon>
            <ion-label position="floating">Minutos de carência</ion-label>
            <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Estacionamento.MinutosCarencia"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Preço fixo inicial', 'Ative essa opção para cobrar um valor fixo nos minutos iniciais de permanência. Exemplo: Cobrar R$ 10,00 nos primeiros 60 minutos.')"></ion-icon>
            <ion-label class="fontCorPrimaria">Preço fixo inicial</ion-label>
            <ion-toggle color="primary" [(ngModel)]="configuracoes.Estacionamento.UtilizaPrimeirosMinutos"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="configuracoes.Estacionamento.UtilizaPrimeirosMinutos">
        <ion-col size-xs="12" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="floating">Minutos iniciais</ion-label>
            <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Estacionamento.QuantidadePrimeirosMinutos"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="configuracoes.Estacionamento.UtilizaPrimeirosMinutos">
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/1.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.PrimeirosMinutosMoto | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.PrimeirosMinutosMoto=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/2.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.PrimeirosMinutosCarroPequeno | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.PrimeirosMinutosCarroPequeno=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/3.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.PrimeirosMinutosCarroMedio | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.PrimeirosMinutosCarroMedio=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/4.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.PrimeirosMinutosCarroGrande | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.PrimeirosMinutosCarroGrande=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>    
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight ion-no-margin ion-no-padding">
          <ion-item>
            <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Cobrar 15 minutos', 'Ative essa opção para definir um valor cobrado a cada 15 minutos de permanência.')"></ion-icon>
            <ion-label class="fontCorPrimaria">Cobrar 15 minutos</ion-label>
            <ion-toggle color="primary" [(ngModel)]="configuracoes.Estacionamento.UtilizaFracao15Minutos"></ion-toggle>
          </ion-item>                
        </ion-col>
      </ion-row>
      <ion-row *ngIf="configuracoes.Estacionamento.UtilizaFracao15Minutos">
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/1.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.Fracao15MinutosMoto | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.Fracao15MinutosMoto=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/2.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.Fracao15MinutosCarroPequeno | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.Fracao15MinutosCarroPequeno=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/3.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.Fracao15MinutosCarroMedio | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.Fracao15MinutosCarroMedio=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/4.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.Fracao15MinutosCarroGrande | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.Fracao15MinutosCarroGrande=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight ion-no-margin ion-no-padding">
          <ion-item>
            <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Cobrar 30 minutos', 'Ative essa opção para definir um valor cobrado a cada 30 minutos de permanência.')"></ion-icon>
            <ion-label class="fontCorPrimaria">Cobrar 30 minutos</ion-label>
            <ion-toggle color="primary" [(ngModel)]="configuracoes.Estacionamento.UtilizaFracao30Minutos"></ion-toggle>
          </ion-item>                        
        </ion-col>
      </ion-row>
      <ion-row *ngIf="configuracoes.Estacionamento.UtilizaFracao30Minutos">
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/1.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.Fracao30MinutosMoto | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.Fracao30MinutosMoto=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/2.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.Fracao30MinutosCarroPequeno | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.Fracao30MinutosCarroPequeno=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/3.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.Fracao30MinutosCarroMedio | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.Fracao30MinutosCarroMedio=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/4.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.Fracao30MinutosCarroGrande | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.Fracao30MinutosCarroGrande=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight ion-no-margin ion-no-padding">
          <ion-item>
            <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Cobrar hora', 'Ative essa opção para definir um valor cobrado a cada hora de permanência.')"></ion-icon>
            <ion-label class="fontCorPrimaria">Cobrar hora</ion-label>
            <ion-toggle color="primary" [(ngModel)]="configuracoes.Estacionamento.UtilizaHora"></ion-toggle>
          </ion-item>                                
        </ion-col>
      </ion-row>
      <ion-row *ngIf="configuracoes.Estacionamento.UtilizaHora">
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/1.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.HoraMoto | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.HoraMoto=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/2.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.HoraCarroPequeno | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.HoraCarroPequeno=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/3.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.HoraCarroMedio | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.HoraCarroMedio=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/4.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.HoraCarroGrande | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.HoraCarroGrande=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight ion-no-margin ion-no-padding">
          <ion-item>
            <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Cobrar diária', 'Ative essa opção para definir um valor cobrado a cada diária de permanência.')"></ion-icon>
            <ion-label class="fontCorPrimaria">Cobrar diária</ion-label>
            <ion-toggle color="primary" [(ngModel)]="configuracoes.Estacionamento.UtilizaDiaria"></ion-toggle>
          </ion-item>                                        
        </ion-col>
      </ion-row>
      <ion-row *ngIf="configuracoes.Estacionamento.UtilizaDiaria">
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/1.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.DiariaMoto | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.DiariaMoto=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/2.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.DiariaCarroPequeno | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.DiariaCarroPequeno=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/3.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.DiariaCarroMedio | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.DiariaCarroMedio=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="3" class="ion-no-margin ion-no-padding">
          <div class="divTipoVeiculo">
            <img src='../../../../../assets/img/veiculos/4.png' />
          </div>
          <ion-item>
            <ion-label position="floating">R$</ion-label>
            <ion-input autocorrect="off" type="number" [ngModel]="configuracoes.Estacionamento.DiariaCarroGrande | decimalInputPipe" (ionInput)="configuracoes.Estacionamento.DiariaCarroGrande=utils.trataCampoNumero($event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="pagina == 'mensagens'">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight">
          <ion-icon class="iconeSubTitulo" name="logo-whatsapp"></ion-icon>
          Configurações do Whatsapp
        </ion-col>
      </ion-row>    
<!--      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-item>
            <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Utilizar Whatsapp Businnes', 'Ative essa opção se quiser abrir o Whatsapp businnes instalado no dispositivo para comunicação com seu cliente.')"></ion-icon>
            <ion-label>Utilizar Whatsapp Businnes</ion-label>
            <ion-toggle color="primary" [(ngModel)]="configuracoes.Mensagens.WhatsAppBusinnes"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row> 
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight">
          <ion-icon class="iconeSubTitulo" name="mail"></ion-icon>
          Mensagens
        </ion-col>
      </ion-row>    -->
      <ion-row>
        <ion-col size-xs="12">
          <ion-item>
            <ion-icon class="iconeAjuda" name="information-circle-outline" (click)="utils.alerta('Conclusão dos serviços', 'Essa é a mensagem personalizada que será exibida automaticamente para envio no Whatsapp na conclusão dos serviços do cliente.')"></ion-icon>
            <ion-label position="floating">Conclusão dos serviços</ion-label>
            <ion-textarea rows="2" auto-grow [(ngModel)]="configuracoes.Mensagens.ConclusaoServicos"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>    
    </ion-grid>
  </div>


  <div *ngIf="pagina == 'recibo'">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" class="subTitulo fundoLight">
          <ion-icon class="iconeSubTitulo" name="receipt"></ion-icon>
          Informações do recibo
        </ion-col>
      </ion-row>    
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-list *ngIf="configuracoes != null">
            <ion-item>
              <ion-icon class="iconeAjuda" name="information-circle-outline" (click)="utils.alerta('Quantidade de colunas do recibo', 'Informe a quantidade de colunas da sua impressora bluetooth. Verifique no manual se necessário ou mantenha o padrão de 32.')"></ion-icon>
              <ion-label position="floating">Quantidade de colunas do recibo</ion-label>
              <ion-input autocorrect="off" type="number" [(ngModel)]="configuracoes.Recibo.CaractersImpressao"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Imprimir recibo na entrada', 'Imprime automaticamente o recibo na entrada de um veículo.')"></ion-icon>
              <ion-label>Imprimir recibo na entrada</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Recibo.ImprimirReciboEntrada"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Mensagem no rodapé da entrada</ion-label>
              <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Recibo.MensagemReciboEntrada"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon class="iconeAjudaToggle" name="information-circle-outline" (click)="utils.alerta('Imprimir recibo na saída', 'Imprime automaticamente o recibo na saída de um veículo.')"></ion-icon>
              <ion-label>Imprimir recibo na saída</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Recibo.ImprimirReciboSaida"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Mensagem no rodapé de saída</ion-label>
              <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Recibo.MensagemReciboSaida"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Exibir CNPJ no cabeçalho</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Recibo.ExibirCNPJ"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Exibir telefone no rodapé</ion-label>
              <ion-toggle color="primary" [(ngModel)]="configuracoes.Recibo.ExibirTelefoneRodape"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Endereço primeira linha</ion-label>
              <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Recibo.EnderecoLinha1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Endereço segunda linha</ion-label>
              <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Recibo.EnderecoLinha2"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
