<app-header titulo="Configurações" ocultarRetorno="true"></app-header>

<ion-content>
  <ion-list *ngIf="configuracoes != null">
    <ion-item>
      <ion-label position="floating">CNPJ</ion-label>
      <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Estabelecimento.Documento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome do estabelecimento</ion-label>
      <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Estabelecimento.Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Endereco</ion-label>
      <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Estabelecimento.Endereco"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Estabelecimento.Telefone"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
