<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button *ngIf=!ocultarRetorno (click)="retornar()">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="iconeBotaoAdicional != null" (click)="clickBotaoAdicional()">
      <ion-icon slot="icon-only" name="{{ iconeBotaoAdicional }}"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-menu-button *ngIf=!ocultarMenu></ion-menu-button>    
    <ion-badge *ngIf="produtosAlerta > 0" color="warning">{{produtosAlerta}}</ion-badge>
  </ion-buttons>
  <ion-title class="ion-text-center">{{ titulo }}</ion-title>
</ion-toolbar>
