<ion-header>
  <app-header titulo="Movimentos"></app-header>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="calendar"></ion-icon>
        Período
      </ion-col>
    </ion-row>
    <ion-row class="separadorCampo">
      <ion-col size-xs="5" class="ion-text-center" (click)="selecionarDataInicial(dataInicio)">
        <h2 class="negrito">{{ dataInicio | date:"dd/MM/yyyy" }}</h2>
      </ion-col>
      <ion-col size-xs="2" class="ion-text-center">
        <h4 class="ion-text-uppercase">Até</h4>
      </ion-col>
      <ion-col size-xs="5" class="ion-text-center" (click)="selecionarDataFinal(dataFim)">
        <h2 class="negrito">{{ dataFim | date:"dd/MM/yyyy" }}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-segment scrollable [(ngModel)]="pagina">
    <ion-segment-button value="movimentos">
      <ion-icon name="reader" class="espacadorCampo"></ion-icon>
      Movimentos
    </ion-segment-button>
    <ion-segment-button value="graficos">
      <ion-icon name="bar-chart" class="espacadorCampo"></ion-icon>
      Gráficos
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div [ngClass]="{'invisivel': pagina == 'graficos'}">
    <ion-spinner *ngIf="carregandoMovimentos" class="spinnerCentro"></ion-spinner>
    <ion-list *ngIf="!carregandoMovimentos" [@listAnimation]="movimentos.length" lines="full">
      <div *ngFor="let movimento of movimentos; let i = index">
        <div id="divCabecalho" *ngIf=exibirCabecalhoData(i) size-xs="12" class="fundoSecundario ion-text-center">
          <h3>{{ movimento.Data | date:"dd/MM/yyyy" }}</h3>
        </div>
        <ion-item-sliding id="movimento.Id">
          <ion-item (click)="abrirMovimento(movimento)">
            <ion-grid class="ion-no-margin ion-no-padding ">
              <ion-row class="espacadorCampo">
                <ion-col size-xs="9">
                  <h4 class="textoLimitado negrito">
                    {{ movimento.Data | date:"HH:mm" }} - {{ movimento.Descricao }}
                  </h4>
                </ion-col>
                <ion-col size-xs="3" class="ion-text-right">
                  <h4>{{ movimento.Valor | decimalPipe:"R$ " }}</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col *ngIf="movimento.Veiculos[0] != null">
                  <h4>Placa: {{ movimento.Veiculos[0].Placa | placaPipe }}</h4>
                </ion-col>
                <ion-col *ngIf="movimento.Inicio != null">
                  <h4>Validade: {{ movimento.Inicio | date:"dd/MM/yyyy" }} - {{ movimento.Fim | date:"dd/MM/yyyy" }}</h4>
                </ion-col>
                <ion-col *ngIf="movimento.Inicio == null && movimento.Veiculos[0] == null">
                  &nbsp;
                </ion-col>
                <ion-col size-xs="3" class="ion-text-right">
                  <ion-icon *ngIf="movimento.ValorDinheiro" name="cash-outline"></ion-icon>
                  <ion-icon *ngIf="movimento.ValorDebito || movimento.ValorCredito" name="card-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
      
          <ion-item-options *ngIf="movimento.Veiculos == null || movimento.Veiculos[0] == null" side="end">
            <ion-item-option color="danger" (click)="excluir(movimento)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
    <ion-infinite-scroll *ngIf="!finalizouCarregamento" threshold="100px" (ionInfinite)="atualizarMovimentos(false, $event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Carregando...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div [ngClass]="{'invisivel': pagina == 'movimentos'}">
    <ion-spinner *ngIf="carregandoGraficos" class="spinnerCentro"></ion-spinner>

    <div [ngClass]="{'invisivel': carregandoGraficos}">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Evolução de receitas</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <canvas #graficoEvolucaoReceita></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Tipos de receitas</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <canvas #graficoTipoReceita></canvas>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div id="divSaldo" class="fundoPrimario">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="7">
          <h2 class="ion-text-left">Saldo de período</h2>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-spinner *ngIf="saldoPeriodo == null"></ion-spinner>
          <h2 *ngIf="saldoPeriodo != null" class="negrito">{{ saldoPeriodo | decimalPipe:"R$ " }}</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success" (click)="abrirMovimento()">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            Receita
          </ion-button>
        </ion-col>
        <ion-col>        
          <ion-button expand="block" color="danger" (click)="abrirMovimento(null, true)">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            Despesa
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </div>
</ion-footer>
