<app-header-modal titulo="Cadastro de produto" ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="construct"></ion-icon>
        Código de barras
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="10">
        <ion-item>
          <ion-label position="floating">Código de barras</ion-label>
          <ion-input type="text" [(ngModel)]="produto.Codigo"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xs="2" (click)="leituraCodigo()">
        <ion-icon class="iconeLinha" name="camera"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="construct"></ion-icon>
        Identificação
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">
        <ion-item>
          <ion-label position="floating">Nome do produto</ion-label>
          <ion-input autocapitalize="on" type="text" [(ngModel)]="produto.Nome"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12">
        <ion-item>
          <ion-label position="floating">Preço</ion-label>
          <ion-input type="number" [ngModel]="produto.Preco | decimalInputPipe" (ionInput)="produto.Preco=utils.trataCampoNumero($event.target.value)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12">
        <ion-item>
          <ion-label position="floating">Estoque atual</ion-label>
          <ion-input type="number" [(ngModel)]="produto.EstoqueAtual"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12">
        <ion-item>
          <ion-icon class="iconeAjuda" name="information-circle-outline" (click)="utils.alerta('Estoque mínimo', 'Informe o valor de estoque onde deseja ser informado que novos produtos devem ser adquiridos. Informe zero se não desejar ser informado sobre o estoque desse produto.')"></ion-icon>
          <ion-label position="floating">Estoque mínimo</ion-label>
          <ion-input type="number" [(ngModel)]="produto.EstoqueMinimo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" *ngIf="avaliouFormulario && (produto.Nome == null || produto.Nome.length == 0)" class="subTitulo fundoPerigo">
        <ion-icon class="iconeSubTitulo" name="close-circle"></ion-icon>
        Informe o nome do produto
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" (click)="concluir()">
          <ion-icon slot="start" name="checkmark-circle"></ion-icon>
          Salvar
        </ion-button>
      </ion-col>
      <ion-col size-xs="2" *ngIf="!inclusao" (click)="concluir('excluir')">
        <ion-button expand="block" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
