<ion-header>
  <app-header titulo="Serviços"></app-header>
  <ion-searchbar autocapitalize="on" animated placeholder="Pesquisar..." [(ngModel)]="pesquisa"></ion-searchbar>
</ion-header>

<ion-content *ngIf="carregandoServicos">
  <ion-spinner class="spinnerCentro"></ion-spinner>
</ion-content>

<ion-content *ngIf="!carregandoServicos">
  <div class="divInformativo" *ngIf="servicos.length == 0">
    <h2>Nenhum serviço cadastrado</h2>
    <ion-icon name="construct-outline"></ion-icon>
    <h5>Utilize o botão abaixo para adicionar um serviço</h5>
  </div>
  <div class="divInformativo" *ngIf="servicos.length > 0 && listaFiltrada.length == 0">
    <h2>Nenhum serviço localizado</h2>
    <ion-icon name="search-outline"></ion-icon>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" class="ion-no-padding ion-no-margin">
        <ion-list [@listAnimation]="listaFiltrada.length" lines="full">
          <ion-item-sliding id="servico.Id" *ngFor="let servico of listaFiltrada">
            <ion-item (click)="cadastrarServico(servico)">
              <ion-grid class="ion-no-padding ion-no-margin">
                <ion-row>
                  <ion-col size-xs="12">
                    <h3 class="textoLimitado fontCorPrimaria espacadorCampo">{{ servico.Nome }}</h3>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-xs="12">
                    <ion-grid>
                      <ion-row>
                        <ion-col size-xs="3" class="ion-text-center">
                          <div class="divTipoVeiculo">
                            <img src='../../../../../assets/img/veiculos/1.png' />
                          </div>
                          <h5>{{ servico.PrecoMoto | decimalPipe:"R$ " }}</h5>
                        </ion-col>
                        <ion-col size-xs="3" class="ion-text-center">
                          <div class="divTipoVeiculo">
                            <img src='../../../../../assets/img/veiculos/2.png' />
                          </div>
                          <h5>{{ servico.PrecoVeiculoPequeno | decimalPipe:"R$ " }}</h5>
                        </ion-col>
                        <ion-col size-xs="3" class="ion-text-center">
                          <div class="divTipoVeiculo">
                            <img src='../../../../../assets/img/veiculos/3.png' />
                          </div>
                          <h5>{{ servico.PrecoVeiculoMedio | decimalPipe:"R$ " }}</h5>
                        </ion-col>
                        <ion-col size-xs="3" class="ion-text-center">
                          <div class="divTipoVeiculo">
                            <img src='../../../../../assets/img/veiculos/4.png' />
                          </div>
                          <h5>{{ servico.PrecoVeiculoGrande | decimalPipe:"R$ " }}</h5>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="excluir(servico)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button color="success" expand="block" (click)="cadastrarServico()">
    <ion-icon slot="start" name="add-circle"></ion-icon>
    Adicionar
  </ion-button>
</ion-footer>
