<ion-header>
  <app-header titulo="Serviços"></app-header>
  <ion-item *ngIf="configuracoes != null">
    <ion-label>Controlar serviços</ion-label>
    <ion-toggle [(ngModel)]="configuracoes.UtilizaServicos"></ion-toggle>
  </ion-item>    
  <ion-searchbar *ngIf="configuracoes != null && configuracoes.UtilizaServicos" autocorrect="off" animated placeholder="Pesquisar..." [(ngModel)]="pesquisa"></ion-searchbar>
</ion-header>

<ion-content *ngIf="carregandoServicos && configuracoes != null && configuracoes.UtilizaServicos">
  <ion-spinner class="spinnerCentro"></ion-spinner>
</ion-content>

<ion-content *ngIf="!carregandoServicos && configuracoes != null && configuracoes.UtilizaServicos">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="construct"></ion-icon>
        Serviços disponíveis
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-no-padding ion-no-margin">
        <ion-list [@listAnimation]="listaFiltrada.length" lines="full">
          <ion-item-sliding id="servico.Placa" *ngFor="let servico of listaFiltrada">
            <ion-item (click)="cadastrarServico(servico)">
              <ion-grid class="ion-no-padding ion-no-margin">
                <ion-row>
                  <ion-col size-xs="12">
                    <h3 class="textoLimitado fontCorPrimaria espacadorCampo">{{ servico.Nome }}</h3>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-xs="12">
                    <ion-grid>
                      <ion-row>
                        <ion-col size-xs="3" class="ion-text-center">
                          <div class="divTipoVeiculo">
                            <img src='../../../../../assets/img/veiculos/1.png' />
                          </div>
                          <h5>{{ servico.PrecoMoto }}</h5>
                        </ion-col>
                        <ion-col size-xs="3" class="ion-text-center">
                          <div class="divTipoVeiculo">
                            <img src='../../../../../assets/img/veiculos/2.png' />
                          </div>
                          <h5>{{ servico.PrecoVeiculoPequeno }}</h5>
                        </ion-col>
                        <ion-col size-xs="3" class="ion-text-center">
                          <div class="divTipoVeiculo">
                            <img src='../../../../../assets/img/veiculos/3.png' />
                          </div>
                          <h5>{{ servico.PrecoVeiculoMedio }}</h5>
                        </ion-col>
                        <ion-col size-xs="3" class="ion-text-center">
                          <div class="divTipoVeiculo">
                            <img src='../../../../../assets/img/veiculos/4.png' />
                          </div>
                          <h5>{{ servico.PrecoVeiculoGrande }}</h5>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="excluir(servico)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="cadastrarServico()">Adicionar Serviço</ion-button>
</ion-footer>
