<ion-header>
  <app-header titulo="Configurações iniciais" ocultarRetorno="true" ocultarMenu="true"></app-header>
</ion-header>

<ion-content>
  <ion-grid *ngIf="configuracoes != null">
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoPrimario">
        Bem vindo ao sistema
      </ion-col>
      <ion-col size-xs="12" class="subTitulo fundoPrimario">
        Vamos realizar as configurações básicas
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="business"></ion-icon>
        Dados da empresa
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Documento (CNPJ / CPF)</ion-label>
            <ion-input autocorrect="off" type="tel" [ngModel]="configuracoes.Estabelecimento.Documento | documentoPipe" (ionInput)="configuracoes.Estabelecimento.Documento = utils.somenteNumeros($event.target.value)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nome do estabelecimento</ion-label>
            <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Estabelecimento.Nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Endereco</ion-label>
            <ion-input autocorrect="off" type="text" [(ngModel)]="configuracoes.Estabelecimento.Endereco"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input autocorrect="off" type="tel" maxlength="15" [ngModel]="configuracoes.Estabelecimento.Telefone | telefonePipe" (ionInput)="configuracoes.Estabelecimento.Telefone = utils.somenteNumeros($event.target.value)"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="repeat"></ion-icon>
        Opções de estacionamento
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-item>
          <ion-icon (click)="utils.alerta('Controlar estacionamento', 'Ative essa opção se quiser controlar cobrança de estacionamento por tempo dos veículos. Configure os formatos de cobrança disponíveis.')" class="iconeAjudaToggle" name="information-circle-outline"></ion-icon>
          <ion-label>Controlar estacionamento</ion-label>
          <ion-toggle color="primary" [(ngModel)]="configuracoes.Estacionamento.UtilizarEstacionamento"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="configuracoes.Estacionamento.UtilizarEstacionamento">
          <ion-icon (click)="utils.alerta('Inclusão automática', 'Ative essa opção se quiser que o sistema inclua automaticamente o serviço de cobrança de estacionamento ao registrar a entrada de um veículo. Caso essa opção seja desabilitada o sistema permitirá a inclusão manualmente para cada veículo.')" class="iconeAjudaToggle" name="information-circle-outline"></ion-icon>
          <ion-label>Inclusão automática</ion-label>
          <ion-toggle color="primary" [(ngModel)]="configuracoes.Estacionamento.IncluirServicoEstacionamento"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="lock-closed"></ion-icon>
        Administração e segurança
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label position="floating">E-mail do administrador</ion-label>
          <ion-input autocorrect="off" type="email" maxlength="20" [(ngModel)]="configuracoes.Seguranca.EmailAdministrador"></ion-input>
        </ion-item>
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label position="floating">Senha</ion-label>
          <ion-input autocorrect="off" type="password" maxlength="20" [(ngModel)]="senhaNova"></ion-input>
        </ion-item>
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label position="floating">Confirme a senha</ion-label>
          <ion-input autocorrect="off" type="password" maxlength="20" [(ngModel)]="senhaConfirmacao"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button color="success" expand="block" (click)="concluir()">
    Iniciar o aplicativo
  </ion-button>
</ion-footer>