<ion-header>
  <app-header-modal titulo="Cadastro de veículo" ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>
</ion-header>

<ion-content>
  <ion-grid *ngIf="veiculo != null">
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Dados do veículo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label position="floating">Placa</ion-label>
          <ion-input autocapitalize="on" [disabled]="!inclusao" type="text" maxlength="8" [ngModel]="veiculo.Placa | placaPipe" (ionInput)="veiculo.Placa = tratarPlaca($event.target.value)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12">
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label position="floating">Modelo</ion-label>
          <ion-input autocapitalize="on" type="text" [(ngModel)]="veiculo.Modelo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" *ngIf="avaliouFormulario && (veiculo.Placa.length != 7)" class="subTitulo fundoPerigo">
        <ion-icon class="iconeSubTitulo" name="close-circle"></ion-icon>
        Informe uma placa válida
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="success" (click)="concluir()">
          <ion-icon slot="start" name="checkmark-done"></ion-icon>
          Salvar
        </ion-button>
      </ion-col>
      <ion-col size-xs="2" *ngIf="!inclusao" (click)="concluir('excluir')">
        <ion-button expand="block" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
