<ion-header>
  <app-header-modal titulo="Cadastro de produto" ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>
</ion-header>

<ion-content>
  <ion-grid *ngIf="produtoVeiculo != null">
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="barcode"></ion-icon>
        Dados do produto
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="separadorCampo" (click)="selecionarProduto()">
        <h4 class="negrito espacamentoCampo">Nome</h4>
        <h3>{{ produtoVeiculo.Nome }}</h3>
      </ion-col>
      <ion-col size-xs="6">
        <h4 class="negrito espacamentoCampo">Preço</h4>
        <h3>{{ produtoVeiculo.Preco | decimalPipe:"R$ " }}</h3>
      </ion-col>
      <ion-col size-xs="6">
        <h4 class="negrito espacamentoCampo">Quantidade</h4>
        <ion-input type="number" [ngModel]="produtoVeiculo.Quantidade | decimalInputPipe" (ionInput)="produtoVeiculo.Quantidade=utils.trataCampoNumero($event.target.value)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="pricetag"></ion-icon>
        Alteração de preço
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label position="floating">Acrescimo</ion-label>
          <ion-input type="number" [ngModel]="produtoVeiculo.Acrescimo | decimalInputPipe" (ionInput)="produtoVeiculo.Acrescimo=utils.trataCampoNumero($event.target.value)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label position="floating">Desconto</ion-label>
          <ion-input type="number" [ngModel]="produtoVeiculo.Desconto | decimalInputPipe" (ionInput)="produtoVeiculo.Desconto=utils.trataCampoNumero($event.target.value)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" *ngIf="avaliouFormulario && produtoVeiculo.precoFinal < 0" class="subTitulo fundoPerigo">
        <ion-icon class="iconeSubTitulo" name="close-circle"></ion-icon>
        Desconto inválido
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="success" (click)="concluir()">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          Salvar
        </ion-button>
      </ion-col>
      <ion-col size-xs="2" *ngIf="!inclusao">
        <ion-button expand="block" color="danger" (click)="excluir()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

