@import "../../../../assets/style/stylesApp.scss";
@import "../../../../assets/style/styleForms.scss";

.divTipoVeiculo {
  margin-top: 14px;
  padding: 5%;
  text-align: center;
  border-radius: 5px;
  position: relative;
  img {
    max-height: 35px;
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

.tipoVeiculoSelecionado {
  background-color: var(--ion-color-light-shade);
}

.divLinhaCompleta {
  width: 100%;
}