<ion-header>
  <app-header-modal titulo="Cadastro de veículo" ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>
  <ion-segment scrollable [(ngModel)]="pagina">
    <ion-segment-button value="veiculo">
      <ion-icon name="car-sport" class="espacadorCampo"></ion-icon>
      Veiculo
    </ion-segment-button>
    <ion-segment-button value="servicos">
      <ion-icon name="construct" class="espacadorCampo"></ion-icon>
      Serviços
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-grid *ngIf="veiculo != null && pagina == 'veiculo'">
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="calendar"></ion-icon>
        Horário da entrada
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-text-center">
        <h2>{{ veiculo.Entrada | date:"dd/MM/yyyy - HH:mm" }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Dados do veículo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-no-margin ion-no-padding">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="ion-no-margin ion-no-padding">
                <ion-label position="floating" [ngClass]="{'fontCorPerigo': avaliouFormulario && !veiculo.Placa}" >Placa</ion-label>
                <ion-input autocorrect="off" type="text" (ionChange)="consultarPlaca()" [(ngModel)]="veiculo.Placa"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="ion-no-margin ion-no-padding">
                <ion-label position="floating">Modelo</ion-label>
                <ion-input autocorrect="off" type="text" [(ngModel)]="veiculo.Modelo"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>          
        </ion-grid>
      </ion-col>
      <ion-col size-xs="12">
        <ion-grid class="ion-no-margin ion-no-padding">
          <ion-row>
            <ion-col size-xs="3" (click)="selecionarTipoVeiculo(1)" class="ion-no-margin ion-no-padding">
              <div class="divTipoVeiculo" [ngClass]="{'tipoVeiculoSelecionado': veiculo.TipoVeiculo == 1}">
                <img src='../../../assets/img/veiculos/1.png' />
              </div>
            </ion-col>
            <ion-col size-xs="3" (click)="selecionarTipoVeiculo(2)" class="ion-no-margin ion-no-padding">
              <div class="divTipoVeiculo" [ngClass]="{'tipoVeiculoSelecionado': veiculo.TipoVeiculo == 2}">
                <img src='../../../assets/img/veiculos/2.png' />
              </div>
            </ion-col>
            <ion-col size-xs="3" (click)="selecionarTipoVeiculo(3)" class="ion-no-margin ion-no-padding">
              <div class="divTipoVeiculo" [ngClass]="{'tipoVeiculoSelecionado': veiculo.TipoVeiculo == 3}">
                <img src='../../../assets/img/veiculos/3.png' />
              </div>
            </ion-col>
            <ion-col size-xs="3" (click)="selecionarTipoVeiculo(4)" class="ion-no-margin ion-no-padding">
              <div class="divTipoVeiculo" [ngClass]="{'tipoVeiculoSelecionado': veiculo.TipoVeiculo == 4}">
                <img src='../../../assets/img/veiculos/4.png' />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="person"></ion-icon>
        Responsável pelo atendimento
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" (click)="alterarFuncionario()">
        <h4 class="negrito">Responsável</h4>
        <h3 class="textoLimitado">{{ veiculo.Funcionario ? veiculo.Funcionario.Nome : 'Não informado' }}</h3>
        <ion-icon class="editIcone" name="create-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="call"></ion-icon>
        Contato do cliente
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="7">
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label position="floating">Nome</ion-label>
          <ion-input autocorrect="off" type="text" [(ngModel)]="veiculo.Nome"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xs="5">
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label position="floating">Telefone</ion-label>
          <ion-input autocorrect="off" type="text" [(ngModel)]="veiculo.Telefone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="reader"></ion-icon>
        Observações (opcional)
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">
        <ion-item>
          <ion-label position="floating">Informações adicionais</ion-label>
          <ion-textarea rows="1" auto-grow [(ngModel)]="veiculo.Observacoes"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="veiculo != null && pagina == 'servicos'">
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="construct"></ion-icon>
        Serviços contratados
      </ion-col>
      <ion-col size-xs="12" *ngIf="avaliouFormulario && (veiculo.Servicos == null || veiculo.Servicos.length == 0)" class="subTitulo fundoPerigo">
        <ion-icon class="iconeSubTitulo" name="close-circle"></ion-icon>
        Adicione um serviço
      </ion-col>
    </ion-row>
    <ion-row *ngIf="veiculo.Servicos != null && veiculo.Servicos.length > 0">
      <ion-col size-xs="12" class="ion-no-margin ion-no-padding">
        <ion-list [@listAnimation]="veiculo.Servicos.length" lines="full">
          <ion-item-sliding id="servico.Id" *ngFor="let servico of veiculo.Servicos">
            <ion-item>
              <div class="divServico" (click)="cadastrarServico(servico)">
                <h3 class="textoLimitado espacadorCampo">{{ servico.Nome }}</h3>
                <h5 *ngIf="veiculo.TipoVeiculo && servico.Id">{{ veiculo.precoServico(servico) | decimalPipe:"R$ " }}</h5>                
                <h5 *ngIf="!veiculo.TipoVeiculo && servico.Id">Selecione o tipo de veículo</h5>
                <h5 *ngIf="!servico.Id">Preço calculado na saída</h5>
                <h5 class="fontCorPerigo">{{ servico.Acrescimo | decimalPipe:"R$ " }}</h5>                
                <h5 class="fontCorSucesso">{{ servico.Desconto | decimalPipe:"R$ " }}</h5>                
              </div>
              <ion-note slot="end" *ngIf="servico.Id">
                <ion-toggle color="primary" [(ngModel)]="servico.Executado"></ion-toggle>
              </ion-note>
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="excluirServico(servico)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="veiculo.Servicos == null || veiculo.Servicos.length == 0">
      <ion-col size-xs="12">
        <h5>Nenhum serviço adicionado</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-no-padding ion-no-margin">
        <ion-button expand="block" (click)="cadastrarServico()">
          <ion-icon name="add-circle"></ion-icon>
          Adicionar Serviço
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="timer"></ion-icon>
        Previsão de entrega
      </ion-col>
      <ion-col size-xs="12" *ngIf="avaliouFormulario && veiculo.EntregaAgendada && !veiculo.PossuiServicoAgendavel && veiculo.Servicos != null && veiculo.Servicos.length > 0" class="subTitulo fundoPerigo">
        <ion-icon class="iconeSubTitulo" name="close-circle"></ion-icon>
        Adicione um serviço para agendamento
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-no-padding ion-no-margin">
        <ion-item>
          Agendar entrega dos serviços
          <ion-toggle color="primary" [(ngModel)]="veiculo.EntregaAgendada" (ionChange)="definirPrevisaoEntrega()"></ion-toggle>
        </ion-item>        
      </ion-col>
    </ion-row>
    <ion-row *ngIf="veiculo.EntregaAgendada == true">
      <ion-col size-xs="12" class="ion-text-center" (click)="selecionarDataPrevisao()">
        <ion-item (click)="selecionarDataPrevisao()">
          <ion-label>Data</ion-label>
          <ion-label>{{ veiculo.PrevisaoEntrega | date:"dd/MM/yyyy" }}</ion-label>
        </ion-item>
        <ion-item (click)="selecionarHoraPrevisao()">
          <ion-label>Hora</ion-label>
          <ion-label>{{ veiculo.PrevisaoEntrega | date:"HH:mm" }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>  
  <ion-grid>    
    <ion-row>
      <ion-col size-xs="12" *ngIf="avaliouFormulario && !veiculo.Placa" class="subTitulo fundoPerigo">
        <ion-icon class="iconeSubTitulo" name="close-circle"></ion-icon>
        Informe a placa do veículo
      </ion-col>
      <ion-col size-xs="12" *ngIf="avaliouFormulario && !veiculo.TipoVeiculo" class="subTitulo fundoPerigo">
        <ion-icon class="iconeSubTitulo" name="close-circle"></ion-icon>
        Informe o tipo do veículo
      </ion-col>
      <ion-col size-xs="12" *ngIf="avaliouFormulario && veiculo.EntregaAgendada && !veiculo.PossuiServicoAgendavel" class="subTitulo fundoPerigo">
        <ion-icon class="iconeSubTitulo" name="close-circle"></ion-icon>
        Adicione um serviço para agendamento
      </ion-col>
      <ion-col size-xs="12" *ngIf="avaliouFormulario && (veiculo.Servicos == null || veiculo.Servicos.length == 0)" class="subTitulo fundoPerigo">
        <ion-icon class="iconeSubTitulo" name="close-circle"></ion-icon>
        Adicione um serviço
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="success" (click)="concluir()">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          Salvar
        </ion-button>
      </ion-col>
      <ion-col size-xs="5" *ngIf="!inclusao">        
        <ion-button expand="block" color="danger" (click)="concluir('finalizar')">
          <ion-icon slot="start" name="checkmark-done"></ion-icon>
          Finalizar
        </ion-button>
      </ion-col>
      <ion-col size-xs="2" *ngIf="!inclusao">
        <ion-button expand="block" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>