<app-header-modal titulo="Saída de veículo" ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Horário da entrada
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-text-center">
        <h3>18:00 - 01/01/2001</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Placa do veículo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">
        <ion-input autocorrect="off" placeholder="Placa" type="text" [(ngModel)]="veiculo.Placa"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row (click)="lerCodigoBarras()">
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="pricetag"></ion-icon>
        Tipo do veículo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="4" (click)="selecionarTipoVeiculo(1)">
        <div class="divTipoVeiculo" [ngClass]="{'tipoVeiculoSelecionado': veiculo.TipoVeiculo == 1}">
          <img src='../../../assets/img/veiculos/1.png' />
        </div>
      </ion-col>
      <ion-col size-xs="4" (click)="selecionarTipoVeiculo(2)">
        <div class="divTipoVeiculo" [ngClass]="{'tipoVeiculoSelecionado': veiculo.TipoVeiculo == 2}">
          <img src='../../../assets/img/veiculos/2.png' />
        </div>
      </ion-col>
      <ion-col size-xs="4" (click)="selecionarTipoVeiculo(3)">
        <div class="divTipoVeiculo" [ngClass]="{'tipoVeiculoSelecionado': veiculo.TipoVeiculo == 3}">
          <img src='../../../assets/img/veiculos/3.png' />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
