<ion-app>
  <ion-menu side="start" menuId="first" contentId="principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Menu Principal</ion-title>              
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-no-margin ion-no-padding">
      <ion-list class="ion-no-margin ion-no-padding">
        <ion-menu-toggle color="secondary">
          <ion-item (click)="navegar('home')" detail button>
            <ion-icon name="car-sport"></ion-icon>
            Meu pátio
          </ion-item>
          <ion-header>Clientes</ion-header>
          <ion-item (click)="navegar('mensalistas', configuracoes.Seguranca.ExigirSenhaCadastroMensalistas)" detail button>
            <ion-icon name="people"></ion-icon>
            Mensalistas
          </ion-item>
          <ion-item (click)="navegar('pendencias')" detail button>
            <ion-icon name="wallet"></ion-icon>
            Pagamentos adiados
          </ion-item>
          <ion-header>Financeiro</ion-header>
          <ion-item (click)="navegar('historico-veiculos', configuracoes.Seguranca.ExigirSenhaRelatoriosGerenciais)" detail button>
            <ion-icon name="stats-chart"></ion-icon>
            Histórico de veículos
          </ion-item>
          <ion-item (click)="navegar('movimento', configuracoes.Seguranca.ExigirSenhaRelatoriosGerenciais)" detail button>
            <ion-icon name="trending-up"></ion-icon>
            Extrato
          </ion-item>
          <ion-header>Configurações</ion-header>
          <ion-item (click)="abrirSenhaAdministrador()" detail button>
            <ion-icon name="lock-closed"></ion-icon>
            Alterar senha
          </ion-item>
          <ion-item (click)="navegar('funcionarios', configuracoes.Seguranca.ExigirSenhaCadastroFuncionarios)" detail button>
            <ion-icon name="person"></ion-icon>
            Meus funcionários
          </ion-item>
          <ion-item (click)="navegar('servicos', configuracoes.Seguranca.ExigirSenhaCadastroServicos)" detail button>
            <ion-icon name="construct"></ion-icon>
            Meus Serviços
          </ion-item>
          <ion-item (click)="navegar('configuracoes', true)" detail button>
            <ion-icon name="settings"></ion-icon>
            Opções gerais
          </ion-item>
          <ion-item (click)="navegar('impressora')" detail button>
            <ion-icon name="print"></ion-icon>
            Conexão impressora
          </ion-item>
          <ion-header>Suporte online</ion-header>
          <ion-item (click)="abrirWhatsAppSuporte()" detail button>
            <ion-icon name="logo-whatsapp"></ion-icon>
            Whatsapp
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>  
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>