<ion-app>
  <ion-menu side="start" menuId="first" contentId="principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>          
          <ion-item (click)="navegar('home')">Pátio</ion-item>
          <ion-item (click)="navegar('configuracoes-estacionamento')">Estacionamento</ion-item>
          <ion-item (click)="navegar('configuracoes')">Configurações</ion-item>
          <ion-item (click)="navegar('impressora')">Impressora</ion-item>
          <ion-item (click)="navegar('movimento')">Movimento</ion-item>
          <ion-item (click)="navegar('servicos')">Serviços</ion-item>
          <ion-item (click)="navegar('pendencias')">Pagamentos pendentes</ion-item>
          <ion-item (click)="navegar('mensalistas')">Mensalistas</ion-item>
          <ion-item (click)="navegar('funcionarios')">Funcionários</ion-item>
          <ion-item (click)="navegar('historico-veiculos')">Histórico de vendas</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>  
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>