<app-header-modal titulo="Saída de veículo" ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Horário da saída
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-text-center">
        <h2>{{ saida | date:"dd/MM/yyyy - HH:mm" }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Dados do veículo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="8">
        <h2 class="fontCorPrimaria espacadorCampo">{{ veiculo.Placa }}</h2>
        <h3 class="espacadorCampo">{{ veiculo.Modelo }}</h3>
      </ion-col>
      <ion-col size-xs="4">
        <div id="divTipoVeiculo">
          <img src="{{ '../../../assets/img/veiculos/' + veiculo.TipoVeiculo + '.png' }}" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Forma de pagamento
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="4" class="ion-text-center">
        Dinheiro
      </ion-col>
      <ion-col size-xs="4" class="ion-text-center">
        Cartão de crédito
      </ion-col>
      <ion-col size-xs="4" class="ion-text-center">
        Cartão de débito
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Valor da permanência
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-text-center">
        <h1>{{ preco | decimalPipe:"R$ " }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-text-center">
        <h1>Minutos {{ minutos }}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button expand="full" color="danger" (click)="concluir()">Finalizar</ion-button>
</ion-footer>
