<app-header-modal titulo="Saída de veículo" ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="timer"></ion-icon>
        Horário da saída
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-text-center">
        <h2>{{ movimento.Data | date:"dd/MM/yyyy - HH:mm" }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Dados do veículo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="construct"></ion-icon>
        Serviços
      </ion-col>
    </ion-row>
    <ion-row *ngIf="movimento.Veiculos != null && movimento.Veiculos.length > 0">
      <ion-col size-xs="12" class="ion-no-margin ion-no-padding" *ngFor="let veiculo of movimento.Veiculos">
        <ion-list [@listAnimation]="movimento.Veiculos.length" lines="full">
          <ion-header>
            {{ veiculo.Placa }}
          </ion-header>
          <ion-item *ngFor="let servico of veiculo.Servicos">
            <h3 class="textoLimitado espacadorCampo">{{ servico.Nome }}</h3>
            <ion-note slot="end">
              <h3>{{ movimento.Veiculo.precoServico(servico) | decimalPipe:"R$ " }}</h3>
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="fundoPrimario">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2 class="negrito ion-text-left">Total</h2>
            </ion-col>
            <ion-col class="ion-text-right">
              <h2 class="negrito">{{ total | decimalPipe:"R$ " }}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="wallet"></ion-icon>
        Forma de pagamento
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="cash-outline"></ion-icon>        
        <h4>Dinheiro</h4>
        <ion-item>
          <ion-label position="floating">R$</ion-label>
          <ion-input autocorrect="off" type="number" [(ngModel)]="movimento.ValorDinheiro"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-icon name="card-outline"></ion-icon>
        <h4>Débito</h4>
        <ion-item>
          <ion-label position="floating">R$</ion-label>
          <ion-input autocorrect="off" type="number" [(ngModel)]="movimento.ValorDebito"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-icon name="card-outline"></ion-icon>
        <h4>Crédito</h4>
        <ion-item>
          <ion-label position="floating">R$</ion-label>
          <ion-input autocorrect="off" type="number" [(ngModel)]="movimento.ValorCredito"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col class="fundoSecundario">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2 class="negrito ion-text-left">Troco</h2>
            </ion-col>
            <ion-col class="ion-text-right">
              <h2 class="negrito">{{ troco | decimalPipe:"R$ " }}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="success" (click)="concluir()">
          <ion-icon slot="start" name="checkmark-done"></ion-icon>
          Finalizar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="concluirDepois()">
          <ion-icon slot="start" name="document-attach"></ion-icon>
          Receber depois
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
