<ion-header>
  <app-header titulo="Pátio" ocultarRetorno="true"></app-header>
  <ion-searchbar autocorrect="off" animated placeholder="Pesquisar..." [(ngModel)]="pesquisa"></ion-searchbar>
</ion-header>

<ion-content *ngIf="carregandoVeiculos">
  <ion-spinner class="spinnerCentro"></ion-spinner>
</ion-content>

<ion-content *ngIf="!carregandoVeiculos">
  <div *ngIf="configuracoesService.configuracoes.Patio.QuantidadeVagas">
    Vagas: {{ configuracoesService.configuracoes.Patio.QuantidadeVagas }}
    Ocupação: {{ veiculos.length }}
  </div>
  <div class="divInformativo" *ngIf="veiculos.length == 0">
    <h2>Seu pátio está vazio</h2>
    <ion-icon name="car-sport-outline"></ion-icon>
    <h5>Utilize o botão de entrada para adicionar um veículo</h5>
  </div>
  <div class="divInformativo" *ngIf="veiculos.length > 0 && listaFiltrada.length == 0">
    <h2>Nenhum veículo localizado</h2>
    <ion-icon name="search-outline"></ion-icon>
  </div>
  <ion-list [@listAnimation]="listaFiltrada.length" lines="none">
    <ion-item-sliding id="veiculo.Placa" *ngFor="let veiculo of listaFiltrada">
      <ion-item (click)="cadastrarEntrada(veiculo)">
        <div class="cartao">
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" class="fundoPrimario tituloCartao ion-text-center"> 
                <h3>{{ veiculo.Placa | placaPipe }}</h3>
              </ion-col>
              <ion-col size-xs="12" *ngIf="veiculo.IdMensalista" class="subTitulo fundoSucesso">
                <ion-icon class="iconeSubTitulo" name="person"></ion-icon>
                Mensalista
              </ion-col>
              <ion-col size-xs="12" *ngIf="veiculo.EntregaAgendada" class="subTitulo" [ngClass]="{'fundoAlerta': veiculo.PossuiServicosPendentes && veiculo.MinutosRestantes < 60 && veiculo.MinutosRestantes > 15, 'fundoPerigo':  veiculo.PossuiServicosPendentes && veiculo.MinutosRestantes <= 15}" >
                <ion-icon class="iconeSubTitulo" name="timer"></ion-icon>
                Agendado para {{ veiculo.PrevisaoEntrega | date:"dd/MM/yyyy - HH:mm" }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" class="subTitulo fundoLight">
                <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
                Dados do veículo
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="8">
                <h4 class="espacadorCampo negrito">Entrou em {{ veiculo.Entrada | date:"dd/MM/yyyy - HH:mm" }}</h4>
                <h4 class="textoLimitado">{{ veiculo.Modelo ? veiculo.Modelo : 'Modelo não informado' }}</h4>
              </ion-col>
              <ion-col size-xs="4" class="ion-text-right">
                <img id="imgTipoVeiculo" src="{{ '../../../assets/img/veiculos/' + veiculo.TipoVeiculo + '.png' }}" />
              </ion-col>
            </ion-row>
            <ion-row *ngIf="veiculo.Telefone || veiculo.Nome">
              <ion-col size-xs="12" class="subTitulo fundoLight">
                <ion-icon class="iconeSubTitulo" name="call"></ion-icon>
                Contato
              </ion-col>
            </ion-row>
            <ion-row *ngIf="veiculo.Telefone || veiculo.Nome">
              <ion-col size-xs="7">
                <h4 class="textoLimitado">{{ veiculo.Nome }}</h4>
              </ion-col>
              <ion-col size-xs="5">
                <h4>{{ veiculo.Telefone | telefonePipe }}</h4>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="veiculo.Servicos && veiculo.Servicos.length > 0">
              <ion-col size-xs="12" class="subTitulo fundoLight">
                <ion-icon class="iconeSubTitulo" name="construct"></ion-icon>
                Serviços do veículo
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let servico of veiculo.Servicos">
              <ion-col size="10">
                <h4 class="textoLimitado">{{ servico.Nome }}</h4>
              </ion-col>
              <ion-col size="2" class="ion-text-right">
                <ion-icon *ngIf="servico.Executado" class="fontCorSucesso" name="checkmark-circle"></ion-icon>
                <ion-icon *ngIf="!servico.Executado && servico.Id" [ngClass]="{'fontCorAlerta': veiculo.MinutosRestantes < 60 && veiculo.MinutosRestantes > 15, 'fontCorPerigo': veiculo.MinutosRestantes <= 15}" name="alert-circle"></ion-icon>
                <ion-icon *ngIf="!servico.Id && !veiculo.Mensalista" name="timer"></ion-icon>
                <ion-icon *ngIf="!servico.Id && veiculo.Mensalista" class="fontCorSucesso" name="checkmark-circle"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>      

      <ion-item-options side="start">
        <ion-item-option color="success" (click)="registrarSaida(veiculo)">
          <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
        </ion-item-option>
        <ion-item-option  color="warning" (click)="imprimirReciboEntrada(veiculo)">
          <ion-icon slot="icon-only" name="print"></ion-icon>
        </ion-item-option>
        <ion-item-option  *ngIf="veiculo.Telefone != null && veiculo.Telefone.length >= 10" color="success" (click)="abrirWhatsapp(veiculo)">
          <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="excluir(veiculo)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col size-xs="6">
        <ion-button color="success" expand="block" (click)="cadastrarEntrada()">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Entrada
        </ion-button>
      </ion-col>
      <ion-col size-xs="6">
        <ion-button color="danger" expand="block" (click)="leituraQrCode()">
          <ion-icon slot="start" name="qr-code"></ion-icon>
          Saída
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
