<ion-header>
  <app-header titulo="Pendências" ocultarRetorno="true"></app-header>
  <ion-searchbar autocapitalize="on" animated placeholder="Pesquisar..." [(ngModel)]="pesquisa"></ion-searchbar>
</ion-header>

<ion-content *ngIf="carregandoVeiculos">
  <ion-spinner class="spinnerCentro"></ion-spinner>
</ion-content>

<ion-content *ngIf="!carregandoVeiculos">
  <div class="divInformativo" *ngIf="veiculos.length == 0">
    <h2>Nenhum pagamento pendente</h2>
    <ion-icon name="checkmark-circle"></ion-icon>
    <h5>Tudo certo por aqui, não há cobranças a serem feitas</h5>
  </div>
  <div class="divInformativo" *ngIf="veiculos.length > 0 && listaFiltrada.length == 0">
    <h2>Nenhuma pendência localizada</h2>
    <ion-icon name="search-outline"></ion-icon>
  </div>
  <ion-list [@listAnimation]="listaFiltrada.length" lines="none">
    <ion-item-sliding id="veiculo.Placa" *ngFor="let veiculo of listaFiltrada">
      <ion-item (click)="registrarSaida([veiculo])">
        <div class="cartao">
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" class="fundoPrimario tituloCartao ion-text-center"> 
                <h3>{{ veiculo.Placa | placaPipe }}</h3>
              </ion-col>
              <ion-col size-xs="12" *ngIf="veiculo.EntregaAgendada" class="subTitulo" [ngClass]="{'fundoAlerta': veiculo.PossuiServicosPendentes && veiculo.MinutosRestantes < 60 && veiculo.MinutosRestantes > 15, 'fundoPerigo':  veiculo.PossuiServicosPendentes && veiculo.MinutosRestantes <= 15}" >
                <ion-icon class="iconeSubTitulo" name="timer"></ion-icon>
                Agendado para {{ veiculo.PrevisaoEntrega | date:"dd/MM/yyyy - HH:mm" }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" class="subTitulo fundoLight">
                <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
                Dados do veículo
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="8">
                <h4 class="espacadorCampo negrito">Entrou em {{ veiculo.Entrada | date:"dd/MM/yyyy - HH:mm" }}</h4>
                <h4 class="espacadorCampo negrito">Saiu em {{ veiculo.Saida | date:"dd/MM/yyyy - HH:mm" }}</h4>
                <h4 class="textoLimitado">{{ veiculo.Modelo ? veiculo.Modelo : 'Modelo não informado' }}</h4>
              </ion-col>
              <ion-col size-xs="4" class="ion-text-right">
                <img id="imgTipoVeiculo" src="{{ '../../../assets/img/veiculos/' + veiculo.TipoVeiculo + '.png' }}" />
              </ion-col>
            </ion-row>
            <ion-row *ngIf="veiculo.Telefone || veiculo.Nome">
              <ion-col size-xs="12" class="subTitulo fundoLight">
                <ion-icon class="iconeSubTitulo" name="call"></ion-icon>
                Contato
              </ion-col>
            </ion-row>
            <ion-row *ngIf="veiculo.Telefone || veiculo.Nome">
              <ion-col size-xs="7">
                <h4 class="textoLimitado">{{ veiculo.Nome }}</h4>
              </ion-col>
              <ion-col size-xs="5">
                <h4>{{ veiculo.Telefone | telefonePipe }}</h4>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="veiculo.Servicos && veiculo.Servicos.length > 0">
              <ion-col size-xs="12" class="subTitulo fundoLight">
                <ion-icon class="iconeSubTitulo" name="construct"></ion-icon>
                Serviços do veículo
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let servico of veiculo.Servicos">
              <ion-col size="7">
                <h4 class="textoLimitado">{{ servico.Nome }}</h4>
              </ion-col>
              <ion-col size="5" class="ion-text-right">
                <h4 class="textoLimitado">{{ veiculo.precoServico(servico) | decimalPipe:"R$ " }}</h4>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>      

      <ion-item-options side="start">
        <ion-item-option  *ngIf="veiculo.Telefone != null && veiculo.Telefone.length >= 10" color="success" (click)="abrirWhatsapp(veiculo)">
          <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="excluir(veiculo)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" (click)="registrarSaida(listaFiltrada)">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Pagar todos
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
