<ion-header>
  <app-header titulo="Portal Reuz" ocultarAvisos="true"></app-header>
</ion-header>

<ion-content>
  <ion-grid *ngIf="configuracoesService.configuracoes != null">
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="phone-portrait"></ion-icon>
        Identificação do dispositivo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">        
        <h3>{{ IdDispositivo }}</h3>
        <ion-spinner *ngIf="verificandoIdDispositivo" name="dots"></ion-spinner>
      </ion-col>
      <ion-col *ngIf="erro == false" size-xs="12">
        <ion-button color="success" expand="block" (click)="copiar()">
          <ion-icon slot="start" name="copy"></ion-icon>
          Copiar código
        </ion-button>
      </ion-col>
      <ion-col *ngIf="erro == true" size-xs="12">
        <ion-button expand="block" (click)="definirDispositivo()">
          <ion-icon slot="start" name="refresh"></ion-icon>
          Tentar novamente
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="divInformativo">
          <h2>Portal Reuz</h2>
          <ion-icon name="globe-outline"></ion-icon>
          <h5>Utilize o código acima para configurar seu dispositivo</h5>
          <a href="https://www.portalreuz.com"><h5>Conheça os planos em www.portalreuz.com</h5></a>
        </div>      
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="cog"></ion-icon>
        Opções do Portal Reuz
      </ion-col>
    </ion-row>
    <ion-row *ngIf="configuracoesLocais != null">
      <ion-col>
        <ion-list>
          <ion-radio-group [(ngModel)]="configuracoesLocais.Portal.SincronizarInformacoes">
            <ion-item>
              <div>
                <ion-radio slot="start" value="offline"></ion-radio>
                <h4 class="negrito">Local</h4>
                <h5>
                  Salvar as informações nesse dispositivo sem enviar para o Portal Reuz.
                </h5>
              </div>
            </ion-item>
        
            <ion-item>
              <div>
                <ion-radio slot="start" value="hibrido"></ion-radio>
                <h4 class="negrito">Híbrido</h4>
                <h5>
                  Salvar as informações nesse dispositivo e enviar para o Portal Reuz sempre que houver conexão.
                </h5>
              </div>
            </ion-item>
        
            <ion-item>
              <div>
                <ion-radio slot="start" value="online"></ion-radio>
                <h4 class="negrito">Online</h4>
                <h5>
                  Utilizar as informações online, 100% integradas ao Portal Reuz.
                </h5>
              </div>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>