<app-header-modal titulo="Entrada de veículo" ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Horário da entrada
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-text-center">
        <h2>{{ dataFormatada }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="pricetag"></ion-icon>
        Tipo do veículo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="4" (click)="selecionarTipoVeiculo(1)">
        <div class="divTipoVeiculo" [ngClass]="{'tipoVeiculoSelecionado': veiculo.TipoVeiculo == 1}">
          <img src='../../../assets/img/veiculos/1.png' />
        </div>
      </ion-col>
      <ion-col size-xs="4" (click)="selecionarTipoVeiculo(2)">
        <div class="divTipoVeiculo" [ngClass]="{'tipoVeiculoSelecionado': veiculo.TipoVeiculo == 2}">
          <img src='../../../assets/img/veiculos/2.png' />
        </div>
      </ion-col>
      <ion-col size-xs="4" (click)="selecionarTipoVeiculo(3)">
        <div class="divTipoVeiculo" [ngClass]="{'tipoVeiculoSelecionado': veiculo.TipoVeiculo == 3}">
          <img src='../../../assets/img/veiculos/3.png' />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Dados do veículo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="5" class="separadorCampo">
        <p class="tituloCampoFormulario">Placa</p>
        <ion-input autocorrect="off" type="text" [(ngModel)]="veiculo.Placa"></ion-input>
      </ion-col>
      <ion-col size-xs="7" class="separadorCampoLateral">
        <p class="tituloCampoFormulario">Modelo</p>
        <ion-input autocorrect="off" type="text" [(ngModel)]="veiculo.Modelo"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLigth">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Observações (opcional)
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">
        <ion-textarea rows="6" auto-grow placeholder="Descreva qualquer observação referente ao veículo..." [(ngModel)]="veiculo.Observacoes" (ionBlur)="alterarObservacao()"></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="concluir()">Confirmar Entrada</ion-button>
</ion-footer>
