<ion-header>
  <app-header-modal titulo="Cadastro de mensalista" ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>

  <ion-segment scrollable [(ngModel)]="pagina">
    <ion-segment-button value="veiculos">
      <ion-icon name="person" class="espacadorCampo"></ion-icon>
      Cadastro
    </ion-segment-button>
    <ion-segment-button value="pagamentos">
      <ion-icon name="wallet" class="espacadorCampo"></ion-icon>
      Pagamentos
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content *ngIf="mensalista != null">
  <ion-grid *ngIf="pagina == 'veiculos'">
    <ion-row>
      <ion-col size-xs="12" class="ion-no-padding ion-no-margin">
        <ion-item>
          <ion-label>Ativo</ion-label>
          <ion-toggle color="primary" [(ngModel)]="mensalista.Ativo"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="person"></ion-icon>
        Dados do mensalista
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label position="floating">Nome</ion-label>
          <ion-input autocapitalize="on" type="text" [(ngModel)]="mensalista.Nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Documento (CNPJ / CPF)</ion-label>
          <ion-input autocapitalize="on" type="tel" [ngModel]="mensalista.Documento | documentoPipe" (ionInput)="mensalista.Documento = utils.somenteNumeros($event.target.value)"></ion-input>
        </ion-item>        
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Telefone</ion-label>
          <ion-input autocapitalize="on" type="tel" maxlength="15" [ngModel]="mensalista.Telefone | telefonePipe" (ionInput)="mensalista.Telefone = utils.somenteNumeros($event.target.value)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input autocapitalize="on" type="text" [(ngModel)]="mensalista.Email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="construct"></ion-icon>
        Serviços disponíveis
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mensalista != null && listaServicos != null">
      <ion-col size-xs="12" class="ion-no-margin ion-no-padding">
        <ion-list [@listAnimation]="servicosMensalista.length" lines="full">
          <ion-item-sliding id="servico.Id" *ngFor="let servico of servicosMensalista">
            <ion-item>
              <ion-grid class="ion-no-margin ion-no-padding">
                <ion-row>
                  <ion-col>
                    <h3 class="textoLimitado">{{ servico.Nome }}</h3>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mensalista != null && listaServicos != null && servicosMensalista.length == 0">
      <ion-col size-xs="12">
        <div class="divInformativo">
          <h2>Nenhum serviço cadastrado</h2>
          <ion-icon name="construct-outline"></ion-icon>
          <h5>Utilize o botão abaixo para adicionar um serviço</h5>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-no-padding ion-no-margin">
        <ion-button expand="block" (click)="cadastrarServico()">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Adicionar serviço
        </ion-button>
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col size-xs="12" class="subTitulo fundoLight">
        <ion-icon class="iconeSubTitulo" name="car-sport"></ion-icon>
        Veículos
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mensalista.Veiculos != null && mensalista.Veiculos.length > 0">
      <ion-col size-xs="12" class="ion-no-margin ion-no-padding">
        <ion-list [@listAnimation]="mensalista.Veiculos.length" lines="full">
          <ion-item-sliding id="veiculo.Placa" *ngFor="let veiculo of mensalista.Veiculos">
            <ion-item (click)="cadastrarVeiculo(veiculo)">
              <ion-grid class="ion-no-margin ion-no-padding">
                <ion-row>
                  <ion-col>
                    <h3 class="textoLimitado espacadorCampo negrito">{{ veiculo.Placa | placaPipe }}</h3>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <h4 class="textoLimitado">{{ veiculo.Modelo && veiculo.Modelo.length > 0 ? veiculo.Modelo : 'Modelo não informado' }}</h4>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="excluir(veiculo)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mensalista.Veiculos == null || mensalista.Veiculos.length == 0">
      <ion-col size-xs="12">
        <div class="divInformativo">
          <h2>Nenhum veículo cadastrado</h2>
          <ion-icon name="car-sport-outline"></ion-icon>
          <h5>Utilize o botão abaixo para adicionar um veículo</h5>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-no-padding ion-no-margin">
        <ion-button expand="block" (click)="cadastrarVeiculo()">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Adicionar veículo
        </ion-button>
      </ion-col>
    </ion-row>    
  </ion-grid>
  
  <div *ngIf="pagina == 'pagamentos'">
    <ion-spinner *ngIf="carregandoMovimentos" class="spinnerCentro"></ion-spinner>

    <div class="divInformativo" *ngIf="!carregandoMovimentos && movimentos.length == 0">
      <h2>Nenhum pagamento cadastrado</h2>
      <ion-icon name="cash-outline"></ion-icon>
      <h5>Utilize o botão abaixo para adicionar um pagamento</h5>
    </div>

    <ion-list [@listAnimation]="movimentos.length" lines="full">
      <ion-item-sliding id="movimento.Id" *ngFor="let movimento of movimentos; let i = index">
        <ion-item (click)="cadastrarPagamento(movimento)">
          <ion-grid class="ion-no-margin ion-no-padding ">
            <ion-row class="espacadorCampo">
              <ion-col size-xs="12">
                <h3 class="textoLimitado negrito">Pagamento em {{ movimento.Data | date:"dd/MM/yyyy" }}</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12">
                <h4>Válido de {{ movimento.Inicio | date:"dd/MM/yyyy" }} até {{ movimento.Fim | date:"dd/MM/yyyy" }}</h4>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-note slot="end">
            <h3>{{ movimento.Valor | decimalPipe:"R$ " }}</h3>
          </ion-note>
        </ion-item>
        
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="excluirMovimento(movimento)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-button expand="block" (click)="cadastrarPagamento()">
      <ion-icon slot="start" name="add-circle"></ion-icon>
      Adicionar Pagamento
    </ion-button>
  </div>  
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" *ngIf="avaliouFormulario && (mensalista.Nome == null || mensalista.Nome.length == 0)" class="subTitulo fundoPerigo">
        <ion-icon class="iconeSubTitulo" name="close-circle"></ion-icon>
        Informe o nome do mensalista
      </ion-col>
      <ion-col size-xs="12" *ngIf="avaliouFormulario && (mensalista.Veiculos == null || mensalista.Veiculos.length == 0)" class="subTitulo fundoPerigo">
        <ion-icon class="iconeSubTitulo" name="close-circle"></ion-icon>
        Informe o(s) veículo(s) do mensalista
      </ion-col>
      <ion-col size-xs="12" *ngIf="avaliouFormulario && (mensalista.IdsServicos == null || mensalista.IdsServicos.length == 0)" class="subTitulo fundoPerigo">
        <ion-icon class="iconeSubTitulo" name="close-circle"></ion-icon>
        Informe o(s) serviços(s) do mensalista
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" color="success" (click)="concluir()">
    <ion-icon slot="start" name="checkmark"></ion-icon>
    Salvar
  </ion-button>
</ion-footer>
