@import "../../../assets/style/stylesApp.scss";
@import "../../../assets/style/styleForms.scss";

ion-item{
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
  --inner-padding-top: 5px;
  --inner-padding-bottom: 5px;
} 

.cartao {
  margin: 5px;
  width: 100%;
  border: 1px solid var(--ion-color-secondary);
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px 0px var(--ion-color-medium);
  -moz-box-shadow: 2px 2px 5px 0px var(--ion-color-medium);
  box-shadow: 2px 2px 5px 0px var(--ion-color-medium);
}

ion-grid {
  border-radius: 5px;
}

.tituloCartao {
  border-radius: 3px 3px 0 0;
}