<ion-header>
  <app-header-modal titulo={{titulo}} ocultarConclusao="true" (onCancelar)="cancelar()"></app-header-modal>
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-searchbar autocapitalize="on" animated placeholder="Pesquisar..." [(ngModel)]="pesquisa"></ion-searchbar>
      </ion-col>
      <ion-col *ngIf="permiteLeituraCodigo" size-xs="2" (click)="leituraCodigo()">
        <ion-icon class="iconeLinha" name="camera"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content *ngIf="carregandoLista">
  <ion-spinner class="spinnerCentro"></ion-spinner>
</ion-content>

<ion-content *ngIf="!carregandoLista">
  <ion-grid [@listAnimation]="listaFiltrada.length">
    <ion-row>
      <ion-col size-xs="12" *ngFor="let item of listaFiltrada" class="separadorCampo textoItemListaPadrao textoLimitado" (click)="concluir(item)">
        <ion-label class="paddingTextoItemPadrao">{{ item[keyField] }}</ion-label>
        <ion-icon *ngIf="icone != null" class="iconeItemPadrao" name={{icone}}></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="classe != null">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col>
        <ion-button *ngIf="classe != null" color="success" expand="block" (click)="adicionar()">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Adicionar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
