<!--
<ion-header>
  <app-header-modal titulo="SQL Client"  ocultarConclusao="true" (onCancelar)="fechar()"></app-header-modal>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Consulta</ion-label>
        <ion-textarea rows="1" auto-grow autofocus [(ngModel)]="sql"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>
          <ion-icon name="play"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Resultado
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<p>
  <ion-button (click)="fechar()">Fechar
    <ion-icon name="close"></ion-icon>
  </ion-button>
</p>
-->